ion-avatar{
    --border-radius: 100;
}

.imgdimension{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    // margin-left: 80px;
    // margin-right: 80px;
    align-content: center;
}