<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titlealign">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bgcolor">

  <ion-item>
    <ion-item-divider>
      <ion-avatar class="imgdimension">
        <img src = "../../assets/img/him.jpg">
      </ion-avatar>
    </ion-item-divider>
    <ion-label class="titlealign">
      <h2>Harry Sharma</h2>
    </ion-label>
  </ion-item>

</ion-content>
