<ion-tabs>
  <ion-tab-bar slot="bottom" scrollable tappable class="invisiblescrollbar">

    <ion-tab-button tab="home">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="bank">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Bank</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="accomodation">
      <ion-icon name="map"></ion-icon>
      <ion-label>Accomodation</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="faq">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>FAQ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="codeofconduct">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Code of Conduct</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Semesterticket">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="faq">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Insurance">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>