ion-tab-bar{
    overflow-x: scroll;
    justify-content: left;
}

//::-webkit-scrollbar,
.invisiblescrollbar::-webkit-scrollbar-thumb {
    // overflow-x: scroll;
    // display: none;
    background: #000; 
}